# env files
.env
.env.local
.env.production
*/.env

# python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
pytest-cache-files-*/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# virtualenv
venv/
.venv/
env/

# logs
*.log

# build
dist/
build/
*.egg-info/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
